@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

canvas {
	position:fixed;
	left:0;
	top:0;
	overflow: hidden;
}

#bg {
	color:black;
}

#page {
	font-size: 1.4em;
	width:100%;
	position: absolute;
	width:100%;
	display:flex;
	color: black;
	justify-content: center;
}

.hpadding {
	min-width:30px;
	
}

#content {
	max-width: 600px;
}

#projects {
list-style: none;
	font-size: 1em;
}

.links {
	line-height: 1.5em;
}
